@use "../../global.scss" as *;

.courses-Container {
    background-color: $dark-yellow;
    max-width: 100%;
    justify-content: center;
    height: 700px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    
    .swiper{
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    &__Cards {
        padding-top: 4vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        
        

        .swiper-button-prev,
        .swiper-button-next {
            color: $bg-black;
            width: 1px;
        }

        &-swiper {
            width: 100%;
            

            &-slide {
                width: 430px;
                height: 430px;
                
            }
        }
    }

    &__Title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 4vh;
        margin-left: 2vw;
        margin-right: 2vw;


        h1 {
            color: $dark-yellow;
            color: $bg-black;
            font-size: 45px;
            font-style: normal;
            font-weight: 600;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.103);
        }

        h4 {
            color: $bg-black;
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__Cards {
        display: flex;
        align-items: flex-start;
        align-content: space-around;
    }

}
@media (max-width: 710px) {
    .courses-Container{
        
             
        &__Title{
            h1{
                font-size: 40px;
            }
        }

       
    }
}