@use "../../global.scss" as *;

.ButtonYellow {
  height: 50px;
  padding: 20px;
  background-color: $dark-yellow;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: $bg-black;
  border: 2px solid $dark-yellow;
  transition: color 0.3s ease;
  
  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: $bg-black;
  }

  &:hover{
    cursor: pointer;
    color: $main-white;
    background-color: $dark-yellow;
    transition: color 0.3s ease;
    
    a{
      color: $off-white;
    }
  }
}
