@use "../../global.scss" as *;

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $light-yelllow 0;
  }
  50% {
    box-shadow: 0 0 0 10px $light-yelllow 0.2;
  }
  100% {
    box-shadow: 0 0 0 0 $light-yelllow 0.4;
  }
}

button {
  height: 50px;
  width: 250px;
  background-color: #feae11;
  border-radius: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  color: #232323;
  box-shadow: 1px 1px 20px 1px #feae11;
  border: 1px #feae11;

  display: inline-block;
  cursor: pointer;
  animation: pulse 2s infinite;
}
