@use "../../global.scss" as *;

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 10px;
}

hr {
    border: 1px solid $dark-yellow;
    width: 85%;
    margin-bottom: 10px;

}

.copy {
    color: $description-gray;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.Footer {
    background-color: #232323;
    width: 100%;
    display: flex;

    padding: 50px 0;
    justify-content: space-around;
    align-items: center;

    &__contact {
        display: grid;

        &--logo {
            width: 250px;
        }

        &--info {
            color: $main-white;
            font-size: 16px;
        }

        &--contact {

            font-weight: bolder;

            span {
                color: $dark-yellow;
            }
        }
    }

    &__courses {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        font-weight: 400;

        &__links {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__useful-links {
        display: flex;
        flex-direction: column;

        &__links {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;

        &--icons {
            display: flex;
            gap: 15px;
        }
    }

    a {
        font-size: 1.1rem;
        text-decoration: none;
        color: $main-white;

        &:hover {
            color: #FEAE11;
            transition: color 0.5s ease;
        }
    }

    #clickable {
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
    }


}

@media only screen and (max-width: 950px) {
    .Footer {
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &__contact {
            text-align: center;
        }
    }
}


@media only screen and (max-width: 600px) {
    .Footer__contact {
        align-self: flex-start;
        text-align: left;
        margin-left: 50px;
    }

    #clickable {
        flex-direction: column;
        align-self: start;
        margin-left: 50px;
    }
}

.footer-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    color: $dark-yellow;
}

.footer-ul {
    list-style: none;
}

.footer-icons-ul {
    list-style: none;
    display: flex;

}

.footer-icons-li {
    color: #FFF;
    cursor: pointer;
    margin-right: 20px;
}

.footer-li {
    color: #FFF;
    cursor: pointer;
}

.footer-li:hover {
    color: #FEAE11;
    transition: color 0.5s ease;
}

.footer-icons-li:hover {
    color: #FEAE11;
}