@use "../../global.scss" as *;

*{
    padding: 0px;
    margin: 0px;
}

.classes__swiper{
    margin: 0px;
    height: 100vh;
    width: 98.9vw;
   
    
}

.swiper-button-prev, .swiper-button-next{
    color: $dark-yellow;
    
}

.classes{
    position: relative;
    
    }

.classesForm{
   
    background-image: url("../../assets/images/backImg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    padding-top: 10%;
    justify-content: space-around;
    padding-bottom: 10%;
          

    &__description{
        max-width: 100%;
        max-height: 100%;


        &-h1{
            font-family: Inter;
            font-weight: 700;
            font-size: 60px;
            color: #ffffff;
            margin-bottom: 2vh;
        }

        &-cursoFix{
            color: #feae11;
            font-size: 25px;
            font-weight: 700;
            font-family: Inter;
            margin-bottom: 2vh;
        }

        &-price{
            font-family: Inter;
            font-weight: 700;
            font-size: 40px;
            color: #ffffff;
            display: flex;
            flex-direction: row;
            margin-bottom: 2vh;
            
            &-promo{
                font-family: Inter;
                font-weight: 700;
                font-size: 45px;
                color: $dark-yellow;
            }
           
        }
       
        &-spec{
                display: flex;
                flex-direction: row;
                width: 25vw;
                justify-content: space-between;
                margin-bottom: 2vh;

            &-iten{
                        display: flex;
                        flex-direction: row;
                        color: #ffffff;
                        font-family: Roboto;
                        font-weight: 600;
                        font-size: 15px;
                        align-items: center;
            }
        }
    }
    
    &__form{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 30px;
        padding-bottom: 20px;
        
        

            &-p{
                font-family: Inter;
                font-size: 24px;
                font-weight: 600;
                color: #232323;
                margin-bottom: 5vh;
                
            }
            
            &-input{
                width: 350px;
                height: 45px;
                border-radius: 10px;
                border-style: none;
                box-shadow: 0px 4px 20px grey;
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                color: #232323;
                padding-left: 15px;
                margin-bottom: 5vh;
            }

            &-checkbox{
                display: flex;
                flex-direction: row;
                margin-bottom: 5vh;
                max-width: 350px;

                &-box{
                    width: 15px;
                    height: 15px;
                    margin-right: 10px;
                }
                &-txt{
                    font-family: Inter;
                    font-size: 10px;
                    font-weight: 400;
                }
            }

            &-btn{
                margin-left: 3vw;
            }

            &-link{
                
                color: #232323;
                text-align: center;
                font-size: 13px;
                margin-top: 9px;
                font-family: Roboto;
            }
           
    }        
    
}

.classesDescription{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;

    padding-top: 8%;
    margin-top: 80px;
    padding-bottom: 10%;
    max-height: 100%;
    max-width: 100%;

    &__ask{
        font-family: Inter;
        font-size: 54px;
        font-weight: 700;
        margin-bottom: 10vh;

    }

    &__p1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 100vw;
       
        &-p1{
            justify-content: center;
            padding-left: 8vw;
            padding-right: 8vw;

            &-ti{
                color: $dark-yellow;
                font-family: Inter;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 10vh;
            }

            &-tx{
                font-family: Roboto;
                font-weight: 400;
                font-size: 32px;
                text-align: justify;
            }

            &-img{
                width: 23vw;
                height: 50vh;
                border-radius: 20px;
            }
        }
    }
}

.classesDuration{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 8%;
    margin-top: 80px;
    padding-bottom: 10%;
    max-height: 100%;
    max-width: 100%;
    justify-content: space-around;

    &__img{
        width: 420px;
        height: 450px;
    }

    &__p1{
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        &-ti{
            font-family: Inter;
            color: $dark-yellow;
            font-size: 42px;
            font-weight: 700;
        }
        
        &-p1{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 5vh;

            &-img{
                width: 32px;
                height: 32px;
            }

            &-tx{
                font-family: Roboto;
                font-size: 25px;
                font-weight: 600;
                color: #ffffff;
                margin-left: 10px;
            }
        }

        
    }

}