@use "../../global.scss" as *;

.error-section {
  background-color: $dark-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-title {
  font-size: 40px;
  color: $main-white;
  text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.4);
}

.error-subtitle {
  color: white;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.4);
}

.error-btn {
  background-color: $main-black;
  color: #fff;
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 800;
  font-size: 22px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;


}

@media (max-width: 768px) {


  .error-section {
    background-color: $dark-yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 20px;
    box-shadow: none;
  }

  .error-title {
    font-size: 22px;
    color: $main-white;
    text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.4);
  }

  .error-subtitle {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.4);
  }

  .error-btn {
    color: #fff;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
    background-color: $main-black;
    transition: all .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }


  .error-btn:hover,
  .error-btn:active {
    color: #fff;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
    background-color: #363434;
    transition: all .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
}


@media (max-width: 480px) {


  .error-section {
    background-color: $dark-yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .error-title {
    font-size: 25px;
    color: $main-white;
    text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.4);
  }

  .error-subtitle {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(14, 13, 13, 0.4);
  }

  .error-btn {
    background-color: $bg-black;
    color: #fff;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 800;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;


  }
}