@use "../../global.scss" as *;


.btn-course {
    height: 50px;
    padding: 0 10px;
    color: $bg-black;
    background-color: $dark-yellow;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;

    transition: color 0.3s ease;
    border: 1px $dark-yellow;
}

.btn-course:hover {
    cursor: pointer;
    color: $off-white;
    background-color: $dark-yellow;
    transition: color 0.3s ease;
}

.card-Box1 {
    position: relative;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    background: $main-white;
    box-shadow: 0px 4px 100px 5px rgba(0, 0, 0, 0.10);
    max-width: 100%;
    height: auto;
    cursor: grab;

    &__Folder {
        height: auto;
        justify-content: center;
        margin-bottom: 2vh;

        &-Img {
            max-width: 100%;
            height: auto;
            background: #201313;
        }

        &-Price {
            position: absolute;
            margin-top: 10%;
            z-index: 1;
            top: 0%;
            left: 0%;
            width: 80px;
            height: 40px;
            background: $dark-yellow;
            border: none;
            font-size: 16px;
            font-weight: 900;
            line-height: normal;

            &-link {
                text-decoration: none;
                color: #000;
            }
        }
    }

    &__Assessment {
        margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;

        &-p {
            display: flex;
            align-items: stretch;
            color: #77838F;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 2vh;
        }

        &-h3 {
            color: #000;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 2vh;
        }

        &-spec {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #77838F;
            font-weight: 600;
        }
    }
}

.card-Box2 {
    position: relative;
    margin-top: -435px;
    background-color: white;
    z-index: 2;
    padding: 20px;
    max-width: 100%;
    height: auto;
    cursor: grab;

    &__titles {
        &-1 {
            color: $dark-yellow;
            font-size: 20px;
            font-weight: 900;
            margin-bottom: 1px;

        }

        &-2 {
            font-size: 20px;
            font-weight: 700;
            color: #000;
            margin-bottom: 1vh;
            text-transform: uppercase;
        }
    }

    &__spec {
        font-weight: 600;
        padding-right: 2px;
        font-size: 13px;
        color: #77838F;
        padding-top: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        color: #77838F;
        text-align: justify;
        margin-bottom: 2vh;
    }
}


.card-Box1,
.card-Box2 {
    position: relative;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    background: $main-white;
    box-shadow: 0px 4px 100px 5px rgba(0, 0, 0, 0.10);
    max-width: 100%;
    height: auto;
    cursor: grab;
    transition: transform 0.3s ease;
}

.card-Box2 {
    transform: translateY(-100%);
}

.cardContainer:hover .card-Box1 {
    transform: translateY(-100%);
}

.cardContainer:hover .card-Box2 {
    transform: translateY(0);
}

@media screen and (max-width: 768px) {

    .card-Box1,
    .card-Box2 {
        max-width: 100%;
    }

    .card-Box1__Folder-Img,
    .card-Box2__spec,
    .card-Box2__description {
        max-width: 100%;
    }

    .card-Box2 {
        margin-top: 0;
    }
}