@use "../../global.scss" as *;

section {
  background-color: $main-white;
  display: flex;
  justify-content: space-between;

  width: 98.9vw;
  padding-bottom: 27vh;
}

.models {
  width: 373px;
  height: 493px;
  top: 78px;
  left: 0px;
  border-radius: 20px;
  border: 1px;
  margin: 100px 0px 0px 350px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 8px 5px $description-gray;
}

.about {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 90px;
  box-shadow: 5px 5px 8px 5px $description-gray;
  border-radius: 50px;


  &__title {
    color: $bg-black;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
  }
}

section spam {
  color: $light-yelllow;
}

.about {
  padding: 50px;
  margin-right: 250px;
  justify-content: center;
  align-items: center;
}