@use "../../global.scss" as *;

.navbarDesk {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $main-white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    z-index: 10;

    &__menu {
        display: flex;
        align-items: center;

        ul {
            list-style-type: none;
            height: auto;
            display: flex;
            align-items: center;
        }
    
        li {
            display: flex;
            justify-content: space-between;
            padding-right: 5vw;
        }
    
        a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            color: $bg-black;
        }
    
        a:hover {
            color: $dark-yellow;
        }
    }

    &__logo {
        padding: 10px;

        .logo {
            width: 180px;
        }
    }

    // Screen for ipads and small screens
    @media (max-width: 780px) {
        &__logo {
            padding-left: 0px;
        }

        li {
            width: 100%;
            padding-right: 3vw;
        }

        ul {
            padding-right: 0px;
            padding-left: 2px;
        }

        a {
            font-size: 12px;
        }
    }

    @media (max-width: 660px) {
        li {
            margin-right: 1vw;
        }

        ul {
            padding-right: 2px;
            padding-left: 5px;
        }

        a {
            font-size: 10px;
        }

        .logo {
            width: 120px;
        }

        .CTAButton{
            width: 120px;
            font-size: 13px;
        }
    }
}