.navbar{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232323;
    position: fixed;
    z-index: 2; //add z-index to not overlap Courses component button


    &__logo{
        padding-left: 40px;
    }

    &__menu{
        display: flex;
        padding-right: 2vw;
        justify-content: space-around;
    }

    ul{
        list-style-type: none;
        height: auto;
        display: flex;
        align-items: center;
        padding-right: 3vw;
    }

    li{
        margin-right: 7vw;
    }

    li:hover{
        cursor: pointer;
        color: #FFFFFF;
    }

    button{
        height: 50px;
        width: 183px;
        background-color: #FEAE11;
        border-radius: 10px;
        font-family: Inter;
        font-size: 16px;
        font-weight: bold;
        color: #232323;
        box-shadow: 1px 1px 20px 1px #FEAE11;   
        border: 1px #FEAE11; 
    }

    button:hover{
        cursor: pointer;
        background-color: #E8BF29;
        box-shadow: 1px 1px 20px 1px #E8BF29;
    }

    &__icon{
        display: none;
    }

    a{
        text-decoration: none;
        font-family: Inter;
        font-size: 16px;
        font-weight: bold;
        color: #F9F9F9;
    }

    // Screen for ipads and small screens
    @media (min-width: 390px) and (max-width: 750px) {
        &__logo{
            padding-left: 30px;
        }
    
        li{
            margin-right: 4vw;
        }

        ul{
            padding-right: 5px;
        }

        a{
            font-size: 12px;
        }
    
        button{
            width: 80px;
            font-size: 12px;
            box-shadow: 1px 1px 15px 1px #FEAE11;   
        }

    }




    // Screen for phone
    @media (max-width: 390px) {
        height:  60px;

        body{
            overflow-x: hidden;
        }

        ul, button{
            display: inline;
        }

        button{
            width: 150px;
            height: 40px;
        }

        &__icon{
            display: inline;
            padding-right: 15px;
        }

        &__icon:hover{
            cursor: pointer;
        }

        &__logo{
            padding-left: 15px;
            img{
                height: 30px;
                width: 41px;
            }
        }

        ul{
            padding: 0;
            padding-bottom: 20px;
        }
    
        li{
            margin: 0;
            background-color: #242424;
            width: 100vw;
            height: 40px;
            padding-top: 15px;
        }

        &__menu{
            padding: 0 0 20px 0;
            position: absolute;
            top: 60px;
            left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: #242424;
        }

        .line{
            width: 100%;
            height: 1px;
            background-color: #FEAE11;
        }

    }
}

