@use "../../global.scss" as *;

.swiper-mobile {
  width: 52rem;
}

.swiper-container-mobile {
  height: 10vh;
}

.swiper-slide-mobile {
  margin-bottom: 3.1rem;
}

.swiper-slide-active-mobile {
  margin: 0;
}

.swiper-pagination-bullet-mobile {
  background-color: #feae11 !important;
  margin-top: 50%;
  align-self: center;
  overflow: hidden;
}

.card-carousel-mobile {
  color: #fff;
  display: flex;
  
}

.testimonial-carousel-item-mobile{
  list-style: none;
  color: #303030;
  width: 100%;
  margin-top: 6.25rem;
}

.testimonial-container-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25em;
  padding-bottom: 1.2rem;
  background-color: #fff;
  border-radius: 1.2rem;
  z-index: 0;
}

.student-image-mobile {
  margin-top: 10%;
  margin-bottom: 1%;
  border-radius: 50%;
  width: 6.25rem;
  align-self: center;
}

.student-name-mobile {
  font-weight: bold;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.course-name-mobile {
  color: #54595f;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
}

.testimonial-description-mobile {
  text-align: justify;
  margin-top: 5%;
  padding-bottom: 2%;
  margin-left: 1.2rem;
  margin-right: 1.125rem;
  color: #54595f;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 860px) {

  .testimonial-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    max-width: 300px;
    margin: 0 auto 0 auto;
    height: 24em;
    padding-bottom: 1.2rem;
    background-color: #fff;
    border-radius: 1.2rem;
    z-index: 0;
  }

  .student-name-mobile {
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 20px;
    margin-bottom: 2%;
  }

  .course-name-mobile {
    color: #54595f;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }

  .testimonial-description-mobile {
    text-align: justify;
    margin-top: 8px;
    padding-bottom: 2%;
    margin-left: 1.2rem;
    margin-right: 1.125rem;
    color: #54595f;
    font-weight: 400;
    font-size: 12px;
  }
}


