@use "../../global.scss" as *;

.Testimonials {
  background-color: $bg-black;
  color: $main-white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
}

@media (min-width: 1480px){
  .mobile{
    display: none;
  }


  .Testimonials {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .left-content {
    width: 35vw;
    margin-left: 65px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .testimonials_text {
    font-size: 20px;
    width: 80%;
  }

  button{
    max-width: 300px;
  }

  .testimonials_title {
    font-size: 40px;
  }

  .right-content {
    width: 50%;
  }
}

@media (max-width: 1480px) {
  .mobile{
    display: none;
  }

  .left-content,
  .right-content {
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto 0 auto;
  }

  .right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
  }

  .testimonials_title {
    font-size: 33px;
    margin-top: 40px;
    text-align: center;
  }

  .testimonials_text {
    font-size: 16px;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }  
}

@media (max-width: 860px) {
  .desktopTestimonials{
    display: none;
  }

  .mobileTestimonials{
    display: inline;
  }
  button{
    padding-bottom: -10px;
  }
}