@use "../../global.scss" as *;

.Testimonials {
  background-color: $bg-black;
  color: $main-white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .Testimonials {
    flex-direction: row;
    width: 98.9vw;
  }

  .left-content {
    width: 50%;
    margin-left: 65px;
    padding: 20px;
  }

  .testimonials_text {
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 40px;
    width: 80%;
  }

  .testimonials_title {
    margin-top: 130px;
    font-size: 45px;
  }

  .right-content {
    width: 50%;
  }
}

@media (max-width: 767px) {

  .left-content,
  .right-content {
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .testimonials_title {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
  }

  .testimonials_text {
    font-size: 16px;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
}