@use "../../../global.scss" as *;

.benefitsMobile{
    background-color: $dark-yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    width: 94.9vw;
    width: 100%;
    height: 90vh;

    &__content{
        &-title{
            font-family: Inter;
            font-size: 30px;
            color: $main-white;
            margin: 15px 0px 15px 2vw;
            text-align: left;
        }
        /*&-benefits{
            display: none;
        }   v isso ou isso  ^       */

        // v isso ou isso ^ 
        &-benefits{
            margin-left: 10px;
            display: flex;
            justify-content: left;
            h2{
                font-family: Roboto;
                font-size: 12px;
                color: $bg-black;
                margin-left: 20px;
                margin-bottom: 1vh;
                margin: 0 20px 1vh 0;
            }
            img{
                height: 15px;
                padding-right: 7px;
            }
        }
        //   FIM DA DUVIDA

        &-h4{
            margin: 10px 5px 3vh 5px;
            font-family: Roboto;
            font-size: 14px;
            color: $main-white;
            margin-bottom: 3vh;
            text-align: center;
        }
    }
    .btn-whatts{
        height: 45px;
        width: 70vw;
        max-width: 200px;
        color: $off-white;
        background-color: $main-black;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 10px 1px $bg-black;
        margin: 0 auto 0 auto;
        p{
            font-size: 16px;
            border-radius: 10px;
            font-family: Inter;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
        }
        img{
            height: 20px;
            width: 20px;
            margin-right: 5px;
        }
    }
    &__img{
        padding-top: 10px;

        img{     
            height: 60vw;
            width: 60vw;
        }
    }

    @media (max-width: 275px) {
        
        &__content{             
            &-title{
                font-size: 16px;
                width: 85vw;
                margin-top: 0;
                margin-left: 15px;
            }
            
            h2{
                font-size: 10px;
                width: 70vw;
            }
            
            &-h4{
                width: 90vw;
                font-size: 10px;
                padding-top: 4vw;
                padding-bottom: 5vw;
            }  
        }
        &__img{
            img{     
                width: 70vw;
                height: 70vw;
            }
        }
    }
}