.benefits{
    background-color: #FEAE11;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    height: 85vh;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 101vh;
    width: 94.9vw;
    
        &__content{

            &-title{
                font-family: Inter;
                font-size: 60px;
                color: #FFFFFF;
                margin-bottom: 3vh;
            }

            &-benetifs h2{
                font-family: Roboto;
                font-size: 20px;
                color: #232323;
                margin-left: 20px;
                margin-bottom: 1vh;
            }

            &-h4{
                font-family: Roboto;
                font-size: 16px;
                color: #F9F9F9;
                height: 57px;
                margin-bottom: 1vh;
            }
        }

   &__content-benefits{
        display: flex;
        margin-bottom: 2vh;
   }

   .btn-whatts{
        height: 45px;
        width: 298px;
        color: #F9F9F9;
        background-color: black;
        border-radius: 10px;
        font-family: Inter;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 10px 1px #232323;

        img{
            height: 25px;
            width: 25px;
            margin-right: 1vw;
        }
   }

   .btn-whatts:hover{
        cursor: pointer;
        background-color: #232323;
   }


   @media (min-width: 660px) and (max-width: 960px){
    height: 80vh;

       &__img{
            img{     
                width: 250px;
            }
        }
    
        h1{
            padding-top: 1vh;
            font-size: 40px;
        }
    
        h2{
            font-size: 16px;
        }
    
        h4{
            font-size: 14px;
            width: 400px;
        }

   } 

   @media (min-width: 390px) and (max-width: 660px){
        flex-direction: column;
        height: 105vh;
        padding-left: 2vw;
        padding-right: 2vw;
        

       &__img{
            img{     
                width: 200px;
            }
        }
    
        h1{
            font-size: 40px;
           
        }
    
        h2{
            font-size: 15px;
        }
    
        h4{
            padding-left: 5vw;
            font-size: 14px;
            width: 350px;
        }

        .btn-whatts{
            align-items: center;
            margin: auto;
        }

   } 


   @media (max-width: 390px) {
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        padding: 0;

        h1{
            font-size: 30px;
        }

        &__content-benefits{
            display: none;
        }

        &__img{
            padding-top: 20px;

            img{     
                height: 200px;
                width: 216px;
            }
        }


        .btn-whatts{
            width: 250px;
            font-size: 16px;
            margin: 0 auto 0 auto;
    
            img{
                height: 25px;
                width: 25px;
                margin-right: 3vw;
            }
       }
   }
}