@use "../../../global.scss" as *;

.benefits{
    background-color: $dark-yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    
        &__content{
            &-title{
                font-family: Inter;
                font-size: 55px;
                color: $main-white;
                margin: 25px 20px 20px 20px;
            }
            &-h2{
                font-family: Roboto;
                font-size: 20px;
                color: $bg-black;
                margin: 5px 0 10px 20px;
            }
            &-icon{
                margin: 0 5px 0 3vw;
            }
            &-h4{
                font-family: Roboto;
                font-size: 16px;
                color: $off-white;
                height: 57px;
                width: 80vw;
                max-width: 400px;
                margin: 20px 0 10px 25px;
            }
            &-benefits{
                display: flex;
            }
    }
   .btn-whatts{
        height: 45px;
        width: 298px;
        color: $off-white;
        background-color: $main-black;
        border-radius: 10px;
        font-family: Inter;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 10px 1px $bg-black;
        margin-left: 15vw;

        img{
            height: 25px;
            width: 25px;
            margin-right: 1vw;
        }
   }
   .btn-whatts:hover{
        cursor: pointer;
        background-color: $bg-black;
   }

   &__img{
        img{
            width: 30vw;
            height: 40vw;
            margin: 20px 20px auto 0;
        }
   }

   @media (min-width: 660px) and (max-width: 960px){
    height: 90vh;
        h1{
            margin-top: 10vh;
            font-size: 30px;
        }
        h2{
            font-size: 16px;
        }
        h4{
            font-size: 14px;
            width: 400px;
        }
   } 

   @media (min-width: 390px) and (max-width: 660px){
        flex-direction: column;
        height: 105vh;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 15vh;

        &__content{             
            &-title{
                font-size: 25px;
            }
            
            &-h2{
                font-size: 15px;
                max-width: 400px;
                width: 70vw;
            }
            
            &-h4{
                margin: auto;
                font-size: 14px;
                text-align: center;
                padding-top: 20px;
            }  
        }
        .btn-whatts{
            align-items: center;
            margin: auto;
        }

        &__img{
            img{     
                width: 220px;
                height: 220px;
            }
        }
   }
}