.benefits{
    background-color: #FEAE11;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    
        &__content{
            &-title{
                font-family: Inter;
                font-size: 60px;
                color: #FFFFFF;
                margin: 15px 20px 20px 20px;
            }

            &-h2{
                font-family: Roboto;
                font-size: 20px;
                color: #232323;
                margin: 5px 0 10px 20px;
               
            }

            &-icon{
                margin: 0 5px 0 3vw;
            }

            &-h4{
                font-family: Roboto;
                font-size: 16px;
                color: #F9F9F9;
                height: 57px;
                margin: 20px 0 10px 25px;
            }
        }

   &__content-benefits{
        display: flex;
   }

   .btn-whatts{
        height: 45px;
        width: 298px;
        color: #F9F9F9;
        background-color: black;
        border-radius: 10px;
        font-family: Inter;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 10px 1px #232323;
        margin-left: 15vw;

        img{
            height: 25px;
            width: 25px;
            margin-right: 1vw;
        }
   }

   .btn-whatts:hover{
        cursor: pointer;
        background-color: #232323;
   }

   &__img{
        img{
            width: 30vw;
            height: 40vw;
            margin: 20px 20px auto 0;
        }
   }


   @media (min-width: 660px) and (max-width: 960px){
    height: 80vh;

        h1{
            margin-top: 10vh;
            font-size: 40px;
        }
    
        h2{
            font-size: 16px;
        }
    
        h4{
            font-size: 14px;
            width: 400px;
        }

   } 

   @media (min-width: 390px) and (max-width: 660px){
        flex-direction: column;
        height: 105vh;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 15vh;

       &__img{
            img{     
                width: 200px;
            }
        }
    
        h1{
            font-size: 40px;
           
        }
    
        h2{
            font-size: 15px;
        }
    
        h4{
            padding-left: 5vw;
            font-size: 14px;
            width: 350px;
        }

        .btn-whatts{
            align-items: center;
            margin: auto;
        }

   } 

}