@use "../../global.scss" as *;

.yellow-text {
    color: $dark-yellow;
}

.newsletter {
    background-color: $bg-black;
    color: $main-white;
    display: flex;
    height: 580px;
    justify-content: space-around;
    font-family: "Inter";

    &_title {
        line-height: normal;
        height: 50px;
    }

    &_text {
        font-size: 20px;
        line-height: 26px;
        height: 150px;
        width: 500px;
    }

    &_img {
        position: absolute;
        left: 200px;
    }
}

.newsletter-input {
    width: 320px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $dark-yellow;
    background: $bg-black;
    color: #fff;
    outline: none;
    font-size: 1.1em;
}

.input-placeholder {
    position: absolute;
    bottom: 491px;
    left: 950px;
    pointer-events: none;
}

.side-content {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 478px;
    justify-content: center;
}
