$light-yelllow: #e8bf29;
$dark-yellow: #feae11;
$main-white: #ffffff;
$off-white: #f7f7f7;
$main-black: #000000;
$bg-black: #232323;
$bg-black-hover: #404040;
$description-gray: #777777;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto&display=swap");
