$light-yelllow: #E8BF29;
$dark-yellow: #FEAE11;
$main-white: #FFFFFF;
$off-white: #F7F7F7;
$main-black: #000000;
$bg-black: #232323;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto&display=swap');