@use "../../global.scss" as *;

.highlight {
    color: $dark-yellow;
}

.highlight-y {
    color: $dark-yellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.058);
}

.highlight-white {
    color: $main-white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.149);
}

.underlight {
    text-decoration: none;
    border-bottom: 10px solid $dark-yellow;
    color: inherit;
}

.underlight-small {
    text-decoration: none;
    border-bottom: 5px solid $dark-yellow;
    border-radius: 10% / 70%;
    transform: rotate(90deg);
    color: inherit;
}

.del {
    text-decoration: line-through;
}


.benefits {
    background-color: $dark-yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
}

.benefits-content {
    margin-top: 60px;
    background-color: $main-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.benefits-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}


.benefits-title {
    display: flex;
    justify-content: center;
    width: 70%;

}

.b-title {
    font-size: 60px;
    color: $main-black;
    width: 100%;
    font-weight: 700;

}

.benefits-subtitle {
    display: flex;
    justify-content: center;
    width: 50%;
}

.b-subtitle {
    margin-top: 25px;
    font-size: 16px;
    margin-bottom: 20px;
}

.cta-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 10px;
    margin-bottom: 5%;
    padding-top: 10px;
}

.btn-cta {
    height: 50px;
    padding: 20px;
    margin-right: 20px;
    background-color: $dark-yellow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
    border: 1px $dark-yellow;
    a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: $bg-black;
    }
}

.btn-cta:hover {
    cursor: pointer;
    background-color: $dark-yellow;
    transition: color 0.3s ease;
    a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: $off-white;
    }
}

.btn-cta2 {
    height: 50px;
    padding: 20px; 
    background-color: $main-white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $dark-yellow;
    transition: background-color 0.5s ease;
    a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: $bg-black;
    }
}

.btn-cta2:hover {
    cursor: pointer;
    background-color: $dark-yellow;
    transition: background-color 0.5s ease;
}

.benefits-right {
    display: flex;
    justify-content: center;
    width: 50%;
}

.benefits-img {
    height: 600px;
    width: 400px;
}

@media (max-width: 1150px){
    .b-title {
        font-size: 40px;
        margin: 15px 20px 0 20px;
        height: auto;
        width: auto;
    }

    .b-subtitle {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
        width: auto;
    }

    .benefits-img {
        max-width: 400px;
        width: 40vw;
    }

    .btn-cta,
    .btn-cta2 {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .benefits-content {
        height: auto;
        width: auto;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .benefits-title,
    .benefits-subtitle {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .b-title {
        font-size: 30px;
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
        width: auto;
    }

    .b-subtitle {
        font-size: 16px;
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
        width: auto;
    }


    .btn-cta,
    .btn-cta2 {
        height: auto;
        width: auto;
        margin-bottom: 0;
        font-size: 16px;
        
    }

    .benefits-right {
        height: auto;
        width: auto;
    }

    .benefits-img {
        max-width: 100%;
        height: 250px;
    }
}