@use "../../global.scss" as *;

.ButtonWhite {
  height: 50px;
  padding: 20px; 
  background-color: $main-white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $dark-yellow;
  transition: background-color 0.5s ease;
  font-size: 1rem;
  font-weight: 600;
  color: $main-black;
  
  &:hover {
    cursor: pointer;
    background-color: $dark-yellow;
    transition: background-color 0.5s ease;
    color: white;
  }
}